@media #{$smartphone} {

    body{
        background-color: $bg;
        background-image: $bgG;
        padding: auto;
        margin: 20px;
        padding: 20px;
    }

    h1{
        color: $colorh1;
        font-family: 'Grechen Fuemen', cursive;
        font-size: 40px;
        text-align: center;
        padding: 10px;
    }
    
    h2{
        color: $colorh2;
        text-align: center;
        text-decoration: underline;
    }
    
    /* HEADER */
    header{
        display: grid;
        flex-direction: column;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "nav nav nav" ". logo ."" . titulo .";
        img{
            max-width: 100%;
            margin: auto;
            grid-area: logo;
            border-radius: 10px;
        }
    }

    .contenedor {
        img {
        max-width: 350px;
        margin: auto;
        grid-area: logo;
        position: relative;
        top: 25px;
        border-radius: 10px;
        }
    }

    .aparecer{ 
        font-size: 35px;
        position: relative;
        top: 25px;
        margin-bottom: 50px;
        animation-duration: 2s;
        animation-name: aparecer;
        animation-iteration-count: infinite;
        text-shadow: $sombra;
        grid-area: titulo;
    }
    
    @keyframes aparecer {
        0% {opacity: 0;}
        25% {opacity: 0.25;}
        50% {opacity: 0.5;}
        75% {opacity: 0.75;}
        100% {opacity: 1;}
    }
    
    /*MENU*/
    nav {
        position: fixed;
        z-index: 10;
        left: 0;
        right: 0;
        top: 0;
        font-family: 'Montserrat', sans-serif;
        padding: 0 5%;
        height: 90px;
        background-color: $bg;
        grid-area: nav;
        border: 3px double $borde;
        .logo {
            font-size: 15px;
            color: $navLogo;
            text-decoration: underline;
            font-weight: bolder;
            position: relative;
            top: 10px;
            text-align: center;
        }
        .links {
            padding: 0;
            margin: 0;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-decoration: underline;
            li {
                list-style: none;
            }
            a {
                display: block;
                padding: 10px;
                position: relative;
                bottom: 10px;
                text-align: center;
                font-size: 9px;
                font-weight: bold;
                color: $colorh1;
                text-decoration: underline;
            }
        }
        &:checked {
            .links {
                bottom: 0;
            }
            ~ {
                .icon-burger {
                    .line {
                        &:nth-child(1) {
                            transform: translateY(10px) rotate(225deg);
                        }
                        &:nth-child(3) {
                            transform: translateY(-10px) rotate(-225deg);
                        }
                        &:nth-child(2) {
                            opacity: 0;
                        }
                    }
                }
            }
        }
        .icon-burger {
            display: block;
        }
    }

    /*SECCIONES*/
    /*SECCION NUESTROS DISFRACES*/
    .nuestrosDisfraces{
        background-color: $colorBgg;
        background-image: $colorBgGg;
        padding: auto;
        margin: 20px;
    }

    .headerNuestros{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 15px;
        }

    .info__imagenes {
        display: flex;
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        width: 90%;
        height: auto;
        border: 4px double $borde;
        border-radius: 10px;
        padding: 50px;
        img {
            border: 2px double $borde;
            border-radius: 10px;
            opacity: .8;
            padding: 20px;
            margin: 20px;
            width: 180px;
            height: 180px;
            &:hover {
                border: 2px solid $borde;
                opacity: 1;
            }
        }
    }

    .zoom {
        &:hover {
            transform: scale(1.2);
        }
        transition: transform .6s;
    }
        
    /*SECCION NOSOTROS*/
    .nosotros{
        background-color: $bg;
        background-image: $bgG;
        padding: auto;
        margin: 20px;
    }

    .headerNosotros {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            color: $colorh1;
            font-family: 'Grechen Fuemen', cursive;
            font-size: 50px;
            text-align: center;
            font-weight: bolder;
        }
    }

    .row {
        .col-12 {
            p {
                color: #ffffff;
                font-size: 20px;
            }
        }
    }

    .carousel {
        display: flex;
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        border: 4px double $borde;
        border-radius: 10px;
        height: auto;
        padding: 20px;
        img {
            border: 2px double $borde;
            border-radius: 10px;
            opacity: .8;
        }
    }
    
    /*SECCION CLIENTES*/
    .clientes{
        background-color: $colorBgg;
        background-image: $colorBgGg;
        padding: auto;
        margin: 20px;
    }

    .headerClientes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .flex .imagenes img{
        width: 180px;
        height: 180px;
    }

    /*SECCION PREGUNTAS FRECUENTES*/
    .preguntas{
        background-color: $colorBgg;
        background-image: $colorBgGg;
        padding: auto;
        margin: 20px;
    }

    .headerPreguntas{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .h2Preguntas{
        color: $h2Preguntas;
        font-weight: normal;
    }

    .h3Preguntas{
        color: $h3Preguntas;
        text-align: center;
        margin: 30px;
    }

    .main{
        margin: 10px;
        border: 4px double $borde;
        border-radius: 10px;
    }

    .main__info{
        text-align: center;
        color: $info;
        font-size: 20px;
        padding: auto;
        margin: 20px;    
    }

    /*SECCION CONTACTANOS*/
    .contactanos{
        background-color: $colorBgg;
        background-image: $colorBgGg;
        text-align: center;
        font-size: 20px;
        padding: auto;
        margin: 20px;
    }

    .formulario{
        margin: 30px;
        padding: 10px;
        position: relative;
        top: 10px;
        color: $colorh1;
    }

    .fieldset{
        padding: 15px;
        border: 4px double $borde;
        border-radius: 10px;
    }

    legend{
        color:  $colorh2;
        font-size: 25px;
    }

    .headerContactanos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footerCont{
        margin: 12px;
        height: 400px;
        text-align: center;
        position: relative;
        left: 5px;
        text-align: center;
        gap: 15px;
        border: 1px solid lightgray;
        border-radius: 5px;
        display: grid;
        grid-template-columns: repeat(1fr 1fr);
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "texto texto"
        "mapa datos";
    }
    
    .footerCont__texto{
        grid-area: texto;
        padding: 10px;
        margin: 5px;
        position: relative;
        bottom: 10px;
    }

    .footerCont__mapa{
        grid-area: mapa;
        display: flex;
        position: relative;
        bottom: 30px;
        width: 150px ;
        height: 150px ;
    }

    .footerCont__datos{
        grid-area: datos;
        display: flex;
        position: relative;
        font-size: 15px;
        color: $colorh1;
    }

    .flex{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            margin: 20px;
    }

    .imagenes__flex img{
        width: 350px;
        height: 350px;
        margin: 15px;
        border: 5px double $borde;
        border-radius: 10px;
    }

    .info{
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 25px;
        padding: auto;
        margin: 20px;    
    }

        /*LISTAS*/
    .nosDestacamos{
        color:$colorp;
        text-decoration: underline;
        font-size: 30px;
        font-style: italic;
        display: flex;
        justify-content: start;
        padding: 5px;
    }

    .requisitosNecesarios {
        color: $colorp;
        text-decoration: underline;
        font-size: 30px;
        font-style: italic;
        display: flex;
        justify-content: start;
        padding: 5px;
    }

    span{
        color:$colorp;
        font-size: 18px;
        font-weight: bolder;
        text-decoration: underline;
    }

    .olLista{
        color: $colorh1;
        list-style-type: square;
        font-size: 15px;
        padding: 20px;
    }
    
    .teEstamosEsperando{
        color:$colorh1;
        text-align: center; 
        font-size: 25px;
        font-family: 'EB Garamond', serif;
        margin: 20px;
    }

    /*IMAGENES*/
    .imagenes {
        display: flex;
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 90%;
        height: auto;
        border: 4px double $borde;
        border-radius: 10px;
        padding: 50px;
        img {
            border: 2px double $borde;
            border-radius: 10px;
            opacity: .8;
            padding: 20px;
            margin: 20px;
            width: 200px;
            height: 200px;
            &:hover {
                border: 2px solid $borde;
                opacity: 1;
            }
        }
    }

    .zoom {
        &:hover {
            transform: scale(1.3);
        }
        transition: transform .6s;
    }
    
    /*BOTON*/
    .button {
        display: flex;
        justify-content: center;
        padding: 5px;
        button {
            text-align: center;
            background-color: lightgray;
            color: $colorh1;
            display: flex;
            opacity: .5;
            border-radius: 30px;
            padding: 5px;
            font-size: 10px;
            &:hover {
                color: $boton;
                background-color: $botonBgg;
                text-align: center;
                opacity: 1;
                border: 1px solid $boton;
                transform: scale(1,1.2);
                transition: .6s;
            }
            a {
                &:hover {
                    background-color: $botonBgg;
                    color: $boton;
                    border-radius: 30px;
                }
            }
        }
    }
    
    /*FOOTER*/
    footer{
        opacity: .7;
        padding: 15px;
        color: $colorh1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 20px;
    }

    .footer__didiseñadoPor{
        display: flex;
        position: relative;
        left: 15px;
        top: 10px;
    }

    .footer__redes {
        width: 30px;
        display: flex;
        padding: 10px;
        img {
            display: flex;
            position: relative;
            margin: 10px;
            border-radius: 25px;
            bottom: 10px;
            right: 15px;
            width: 40px;
            opacity: .7;
            &:hover {
                transform: scale( 2, 2);
                transition: 1s;
                padding: 5px;
                opacity: 1;
                border-radius: 25px;
            }
        }
    }
}