@media #{$smartphone}{
    body{
        background-color: $colorBgc ;
        background-image: $colorBgGc;
        padding: auto;
        margin: 20px
    }

    h1{
        color: $colorh1c;
        font-family: 'Grechen Fuemen', cursive;
        font-size: 40px;
        text-align: center;
        padding: 10px;
    }
    
    h2{
        color: $colorh2c;
        text-align: center;
        text-decoration: underline;
        margin: 15px;
    }
    
    /* HEADER */
    
    header{
        display: grid;
        flex-direction: column;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "nav nav nav" ". logo ."" . titulo .";
        img{
            max-width: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
            grid-area: logo;
            border-radius: 10px;
        }
    }

    .contenedor img {
        max-width: 350px;
        margin: auto;
        display: flex;
        flex-direction: column;
        grid-area: logo;
        position: relative;
        top: 15px;
        border-radius: 10px;
    }

    .aparecer{ 
        display: flex;
        justify-content: center;
        position: relative;
        top: 25px;
        margin-bottom: 50px;
        font-size: 35px;
        animation-duration: 2s;
        animation-name: aparecer;
        animation-iteration-count: infinite;
        text-shadow: $sombrac;
        grid-area: titulo;
    }
    
    @keyframes aparecer {
        0% {opacity: 0;}
        25% {opacity: 0.25;}
        50% {opacity: 0.5;}
        75% {opacity: 0.75;}
        100% {opacity: 1;}
    }
    
    /*MENU*/
    nav {
        position: fixed;
        z-index: 10;
        left: 0;
        right: 0;
        top: 0;
        font-family: 'Montserrat', sans-serif;
        padding: 0 5%;
        height: 90px;
        background-color: #647dee;
        grid-area: nav;
        border: 2px double $colorh2c;
        .logo {
            font-size: 15px;
            color: $colorh2c;
            text-decoration: underline;
            text-decoration-color: $navLogoc;
            font-weight: bold;
            position: relative;
            top: 5px;
            text-align: center;
        }
        .links {
            padding: 0;
            margin: 0;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            li {
                list-style: none;
            }
            a {
                display: block;
                padding: 10px;
                position: relative;
                bottom: 10px;
                text-align: center;
                font-size: 9px;
                font-weight: bold;
                color: $colorh1c;
                text-decoration: underline;
                width: auto;
                height: 100%;
                align-items: center;
            }
        }
        &:checked {
            .links {
                bottom: 0;
            }
            ~ {
                .icon-burger {
                    .line {
                        &:nth-child(1) {
                            transform: translateY(10px) rotate(225deg);
                        }
                        &:nth-child(3) {
                            transform: translateY(-10px) rotate(-225deg);
                        }
                        &:nth-child(2) {
                            opacity: 0;
                        }
                    }
                }
            }
        }
        .icon-burger {
            display: block;
        }
    }

    /*SECCIONES*/
    /*SECCION NUESTROS DISFRACES*/
    .nuestrosDisfraces{
        background-color: $colorBgc;
        background-image: $colorBgGc;
        padding: auto;
        margin: 20px;
    }

    .headerNuestros{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 15px;
        }

    .info__imagenes {
        display: flex;
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        width: 90%;
        height: auto;
        border: 4px double $colorh2c;
        border-radius: 10px;
        padding: 50px;
        img {
            border: 2px double $colorh2c;
            border-radius: 10px;
            opacity: .8;
            padding: 20px;
            margin: 20px;
            width: 180px;
            height: 180px;
            &:hover {
                border: 2px solid $colorh2c;
                opacity: 1;
            }
        }
    }

    .zoom {
        &:hover {
            transform: scale(1.2);
        }
        transition: transform .6s;
    }
        
    /*SECCION NOSOTROS*/
    .nosotros{
        background-color: $colorBgc;
        background-image: $colorBgGc;
        padding: auto;
        margin: 20px;
    }

    .headerNosotros {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            color: $colorh1c;
            font-family: 'Grechen Fuemen', cursive;
            font-size: 50px;
            text-align: center;
            font-weight: bolder;
        }
    }

    .row {
        .col-12 {
            p {
                color: $colorh1c;
                font-size: 20px;
            }
        }
    }

    .carousel {
        display: flex;
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        width: 350px;
        height: auto;
        border: 4px double #f3e691;
        border-radius: 10px;
        padding: 20px;
        img {
            border: 2px double #f3e691;
            border-radius: 10px;
            opacity: .8;
        }
    }
    
    /*SECCION CLIENTES*/
    .clientes{
        background-color: $colorBgc;
        background-image: $colorBgGc;
        padding: auto;
        margin: 20px;
    }

    .headerClientes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .flex .imagenes img{
        width: 180px;
        height: 180px;
    }

    /*SECCION PREGUNTAS FRECUENTES*/
    .preguntas{
        background-color: $colorBgc;
        background-image: $colorBgGc;
        padding: auto;
        margin: 20px;
    }

    .headerPreguntas{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .h2Preguntas{
        color: $h2Preguntasc;
        font-weight: normal;
    }

    .h3Preguntas{
        color: $h3Preguntasc;
        text-align: center;
        margin: 30px;
    }

    .main{
        margin: 10px;
        border: 4px double $colorh2c;
        border-radius: 10px;
    }

    .main__info{
        position: relative;
        top: 10px;
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 25px;
        padding: auto;
        margin: 20px;    
    }

    /*SECCION CONTACTANOS*/
    .contactanos{
        background-color: $colorBgc;
        background-image: $colorBgGc;
        color: $colorh2c;
        text-align: center;
        width: 90%;
        color: $titulosc;
        font-size: 20px;
        padding: auto;
        margin: 20px;
    }

    .headerContactanos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footerCont{
        margin: 45px;
        width: 95%;
        height: 400px;
        text-align: center;
        position: relative;
        right: 35px;
        gap: 15px;
        border: 1px solid $colorh2c;
        border-radius: 5px;
        display: grid;
        grid-template-columns: repeat(1fr 1fr);
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "texto texto"
        "mapa datos";
    }

    .footerCont__texto{
        grid-area: texto;
        padding: 10px;
        margin: 5px;
        position: relative;
        bottom: 10px;
    }

    .footerCont__mapa{
        grid-area: mapa;
        display: flex;
        position: relative;
        bottom: 30px;
    }

    .footerCont__datos{
        grid-area: datos;
        display: flex;
        position: relative;
        font-size: 15px;
        color: $colorh2c;
    }

    .formulario{
        margin: 30px;
        padding: 10px;
        position: relative;
        top: 10px;
        color: $colorh2c;
    }

    legend{
        color:  $colorh2c;
        font-size: 25px;
    }

    .fieldset{
        padding: 15px;
        border: 4px double $colorh2c;
        border-radius: 10px;
    }

    .flex{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            width: 90%;
            margin: 20px;
    }

    .imagenes__flex img{
        width: 350px;
        height: 350px;
        margin: 15px;
        border: 5px double $colorh2c;
        border-radius: 10px;
    }

    .info{
        position: relative;
        top: 10px;
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 25px;
        padding: auto;
        margin: 20px;    
    }


        /*LISTAS*/
    .nosDestacamos{
        color: $colorh1c;
        text-decoration: underline;
        font-size: 30px;
        font-style: italic;
        display: flex;
        justify-content: start;
        padding: 10px;
    }

    .requisitosNecesarios {
        color: $colorh1c;
        text-decoration: underline;
        font-size: 30px;
        font-style: italic;
        display: flex;
        justify-content: start;
        padding: 10px;
    }

    span{
        color:$colorh1c ;
        font-size: 22px;
        font-weight: bolder;
        text-decoration: underline;
    }

    .olLista{
        color: white;
        list-style-type: square;
        position: relative;
        left: 30px;
        font-size: 22px;
        padding: 20px;
    }
    
    .teEstamosEsperando{
        color:$colorh1c;
        text-align: center; 
        font-size: 25px;
        font-family: 'EB Garamond', serif;
        margin: 20px;
    }

    /*IMAGENES*/
    .imagenes {
        display: flex;
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        width: 90%;
        height: auto;
        border: 4px double $colorh2c;
        border-radius: 10px;
        padding: 50px;
        img {
            border: 2px double $colorh2c;
            border-radius: 10px;
            opacity: .8;
            padding: 20px;
            margin: 20px;
            width: 280px;
            height: 280px;
            &:hover {
                border: 2px solid $colorh2c;
                opacity: 1;
            }
        }
    }

    .zoom {
        &:hover {
            transform: scale(1.3);
        }
        transition: transform .6s;
    }
    
    /*BOTON*/
    .button {
        display: flex;
        justify-content: center;
        padding: 5px;
        button {
            text-align: center;
            background-color: lightgray;
            color: $colorh2c;
            display: flex;
            opacity: .5;
            border-radius: 30px;
            padding: 5px;
            font-size: 10px;
            &:hover {
                color: $botonc;
                background-color: $botonBgc;
                text-align: center;
                opacity: 1;
                border: 1px solid $botonc;
                transform: scale(1,1.2);
                transition: .6s;
            }
            a {
                &:hover {
                    background-color: $botonBgc;
                    color: $botonc;
                    border-radius: 30px;
                }
            }
        }
    }
    
    /*FOOTER*/
    footer{
        opacity: .7;
        padding: 15px;
        width: 90%;
        color: #f3e691;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 20px;
    }

    
    .footer__didiseñadoPor{
        display: flex;
        position: relative;
        left: 15px;
        top: 10px;
    }

    .footer__redes {
        color: #f3e691;
        width: 30px;
        display: flex;
        img {
            display: flex;
            position: relative;
            margin: 10px;
            border-radius: 25px;
            bottom: 10px;
            right: 15px;
            width: 35px;
            opacity: .7;
            &:hover {
                transform: scale( 2, 2);
                transition: 1s;
                padding: 5px;
                opacity: 1;
                border-radius: 25px;
            }
        }
    }
}