$smartphone: (max-width: 768px);

$tablets: (min-width:768px);

$desktop: (min-width:1024px);
$bg: #000000;
$bgG: linear-gradient(315deg,  #b82e1f 14%, #000000 60%);
$colorBgg: #e0455f;
$colorBgGg:linear-gradient(147deg, #e0455f 0%, #44000b 74%);
$colorh1: #f3e691;
$colorh2:#f3e691da;
$colorp:#8b3434;
$sombra:0 0 60px #f3e691;
$borde:#f3e691;
$navLogo:#f3e69175;
$h2Preguntas:#ddc39d;
$h3Preguntas:#f3e691da;
$info:rgb(236, 157, 157);
$colorDatos: #f3e691;
$bordeFooter:#e7e2e2;
$boton:rgb(170, 112, 5);
$botonBgg:thistle;