$smartphone: (max-width: 768px);
$colorBgc:#7f53ac;
$colorBgGc:linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
$colorh1c: #f1d72b;
$colorh2c: #f3e691;
$sombrac: 0 0 60px #f1d72b;
$navLogoc:#b4a759;
$h2Preguntasc:#040f2e;
$h3Preguntasc:#1e338fda;
$titulosc: rgba(226, 128, 128, 0.733);
$colorDatosc: #f1d72b;
$bordec:#f3e691;
$botonc:rgb(170, 112, 5);
$botonBgc:thistle;

$tablets: (min-width:768px);
$colorBgm:#ffffff;
$colorBgGm:linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
$colorh1m: #751919;
$colorh2m: #751919;
$colorp:rgb(139, 52, 52);
$sombram: 0 0 60px rgb(58, 2, 2);
$bordem: rgb(139, 52, 52);
$navLogom:rgba(139, 52, 52, 0.651);
$h2Preguntasm:rgb(100, 28, 28);
$h3Preguntasm:rgb(173, 11, 11);
$colorOl:rgb(228, 97, 97);
$infom:rgb(119, 77, 0);
$colorDatosm: rgb(100, 28, 28);
$bordeFooterm:rgb(100, 28, 28);
$botonm:rgb(170, 112, 5);
$botonBgm:lightgray;

$desktop: (min-width:1024px);
$bg: #000000;
$bgG: linear-gradient(315deg,  #b82e1f 14%, #000000 60%);
$colorBgg: #e0455f;
$colorBgGg:linear-gradient(147deg, #e0455f 0%, #44000b 74%);
$colorh1: #f3e691;
$colorh2:#f3e691da;
$sombrag:0 0 60px #f3e691;
$bordeg:#f3e691;
$navLogog:#f3e69175;
$h2Preguntasg:#ddc39d;
$h3Preguntasg:#f3e691da;
$infog:rgb(236, 157, 157);
$colorDatos: #f3e691;
$bordeFooter:#e7e2e2;
$botong:rgb(170, 112, 5);
$botonBgg:thistle;