*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    body{
        background-color: #7f53ac;
        background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
        padding: auto;
        margin: 20px
    }

    h1{
        color: #f1d72b;
        font-family: 'Grechen Fuemen', cursive;
        font-size: 40px;
        text-align: center;
        padding: 10px;
    }
    
    h2{
        color: #f3e691;
        text-align: center;
        text-decoration: underline;
        margin: 15px;
    }
    
    /* HEADER */
    
    header{
        display: grid;
        flex-direction: column;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "nav nav nav" ". logo ."" . titulo .";
    }
    
    header img{
        width: 350px;
        margin: auto;
        display: flex;
        flex-direction: column;
        grid-area: logo;
        border-radius: 10px;
    }

    .contenedor img {
        width: 400px;
        margin: auto;
        display: flex;
        flex-direction: column;
        grid-area: logo;
        position: relative;
        justify-content: center;
        top: 15px;
        border-radius: 10px;
    }

    .aparecer{ 
        width: 250px;
        justify-content: center;
        position: relative;
        top: 25px;
        left: 90px;
        margin-bottom: 50px;
        font-size: 35px;
        animation-duration: 2s;
        animation-name: aparecer;
        animation-iteration-count: infinite;
        text-shadow: 0 0 60px #f1d72b;
        grid-area: titulo;
    }
    
    @keyframes aparecer {
        0% {opacity: 0;}
        25% {opacity: 0.25;}
        50% {opacity: 0.5;}
        75% {opacity: 0.75;}
        100% {opacity: 1;}
    }
    /*MENU*/
    
    nav {
        position: fixed;
        z-index: 10;
        left: 0;
        right: 0;
        top: 0;
        font-family: 'Montserrat', sans-serif;
        padding: 0 5%;
        height: 90px;
        background-color: #647dee ;
        grid-area: nav;
        border: 2px double #f3e691;
    }
    nav .logo {
    font-size: 15px;
    color: #b4a759;
    text-decoration: underline;
    text-decoration-color: #b4a759;
    font-weight: bold;
    position: relative;
    top: 5px;
    text-align: center;
    }
    nav .links {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
    nav .links li {
    list-style: none;
    }
    nav .links a {
    display: block;
    padding: 10px;
    position: relative;
    bottom: 10px;
    right: 80px;
    text-align: center; 
    font-size: 10px;
    font-weight: bold;
    color:  #f1d72b ;
    text-decoration: underline;
    width: auto;
    height: 100%;
    align-items: center;
    }

    nav :checked  .links {
        bottom: 0;
    }
    nav .icon-burger {
        display: block;
    }
    nav :checked ~ .icon-burger .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(2) {
        opacity: 0;
        }
    }

        /*SECCIONES*/
    /*SECCION NUESTROS DISFRACES*/
    .nuestrosDisfraces{
        background-color: #7f53ac;
        background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
        padding: auto;
        margin: 20px;
    }

    .headerNuestros{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 15px;
        }

    .info__imagenes{
        display: flex;
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        width: 90%;
        height: auto;
        border: 4px double #f3e691;
        border-radius: 10px;
        padding: 50px;
    }

    .info__imagenes img{
        border: 2px double #f3e691;
        border-radius: 10px;
        opacity: .8;
        padding: 20px;
        margin: 20px;
        width: 180px;
        height: 180px;
    }

    .info__imagenes img:hover{
        border: 2px solid #f3e691;
        opacity: 1;
    }

    .zoom:hover {
        transform: scale(1.2); 
    }
    .zoom {
        transition: transform .6s; 
    }

    /*SECCION NOSOTROS*/
    .nosotros{
        background-color: #7f53ac;
        background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
        padding: auto;
        margin: 20px;
    }

    .headerNosotros{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .headerNosotros h1{
        color: #f1d72b;
        font-family: 'Grechen Fuemen', cursive;
        font-size: 50px;
        text-align: center;
        font-weight: bolder;
        }

        .row .col-12 p{
        color: #f1d72b;
        font-size: 20px;
        }

    .carousel{
        display: flex;
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        width: 350px;
        height: auto;
        border: 4px double #f3e691;
        border-radius: 10px;
        padding: 20px;
    }

    .carousel img{
        border: 2px double #f3e691;
        border-radius: 10px;
        opacity: .8;
    }

        /*SECCION CLIENTES*/
    .clientes{
        background-color: #7f53ac;
        background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
        padding: auto;
        margin: 20px;
    }

    .headerClientes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .flex .imagenes img{
        width: 180px;
        height: 180px;
    }

    /*SECCION PREGUNTAS FRECUENTES*/
    .preguntas{
        background-color: #7f53ac;
        background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
        padding: auto;
        margin: 20px;
    }

    .headerPreguntas{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .h2Preguntas{
        color: #040f2e;
        font-weight: normal;
    }

    .h3Preguntas{
        color: #1e338fda;
        text-align: center;
        margin: 30px;
    }

    .main{
        margin: 10px;
        border: 4px double #f3e691;
        border-radius: 10px;
    }

    .main__info{
        position: relative;
        top: 10px;
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 25px;
        padding: auto;
        margin: 20px;    
    }

    /*SECCION CONTACTANOS*/
    .contactanos{
        background-color: #7f53ac;
        background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
        color: #f3e691;
        text-align: center;
        width: 90%;
        color: rgba(226, 128, 128, 0.733);
        font-size: 20px;
        padding: auto;
        margin: 20px;
    }

    .headerContactanos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footerCont{
        margin: 45px;
        width: 95%;
        height: 400px;
        text-align: center;
        position: relative;
        right: 35px;
        gap: 15px;
        border: 1px solid #f3e691;
        border-radius: 5px;
        display: grid;
        grid-template-columns: repeat(1fr 1fr);
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "texto texto"
        "mapa datos";
    }

    .footerCont__texto{
        grid-area: texto;
        padding: 10px;
        margin: 5px;
        position: relative;
        bottom: 10px;
        color: #f1d72b;
    }

    .footerCont__mapa{
        grid-area: mapa;
        display: flex;
        position: relative;
        bottom: 30px;
    }

    .footerCont__datos{
        grid-area: datos;
        color: #f1d72b;
        display: flex;
        position: relative;
        font-size: 15px;
    }

    .formulario{
        margin: 30px;
        padding: 10px;
        position: relative;
        top: 10px;
        color: #f3e691;
    }

    legend{
        color:  #f3e691;
        font-size: 25px;
    }

    .fieldset{
        padding: 15px;
        border: 4px double #f3e691;
        border-radius: 10px;
    }

    .flex{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            width: 90%;
            margin: 20px;
    }

    .imagenes__flex img{
        width: 350px;
        height: 350px;
        margin: 15px;
        border: 5px double #f3e691da;
        border-radius: 10px;
    }

    .info{
        position: relative;
        top: 10px;
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 25px;
        padding: auto;
        margin: 20px;    
    }


        /*LISTAS*/
    .nosDestacamos{
        color: #f1d72b;
        text-decoration: underline;
        font-size: 30px;
        font-style: italic;
        display: flex;
        justify-content: start;
        padding: 10px;
        
    }

    .requisitosNecesarios {
        color: #f1d72b;
        text-decoration: underline;
        font-size: 30px;
        font-style: italic;
        display: flex;
        justify-content: start;
        padding: 10px;
    }

    span{
        color:#f1d72b ;
        font-size: 22px;
        font-weight: bolder;
        text-decoration: underline;
    }

    .olLista{
        color: white;
        list-style-type: square;
        position: relative;
        left: 30px;
        font-size: 22px;
        padding: 20px;
    }
    
    .teEstamosEsperando{
        color:#f1d72b;
        text-align: center; 
        font-size: 25px;
        font-family: 'EB Garamond', serif;
        margin: 20px;
    }

        /*IMAGENES*/
    .imagenes{
        display: flex;
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        width: 90%;
        height: auto;
        border: 4px double #f3e691;
        border-radius: 10px;
        padding: 50px;
    }

    .imagenes img{
        border: 2px double #f3e691;
        border-radius: 10px;
        opacity: .8;
        padding: 20px;
        margin: 20px;
        width: 280px;
        height: 280px;
    }

    .imagenes img:hover{
        border: 2px solid #f3e691;
        opacity: 1;
    }

    .zoom:hover {
        transform: scale(1.3); 
    }
    .zoom {
        transition: transform .6s; 
    }

    /*BOTON*/
    .button{
        display: flex;
        justify-content: center;
        padding: 5px;
    }

    .button button{
        text-align: center;
        background-color: lightgray;
        color: #f3e691;
        display: flex;
        opacity: .5;
        border-radius: 30px;
        padding: 5px;
        font-size: 10px;
    }

    .button button:hover{
        color:rgb(170, 112, 5);
        background-color: thistle;
        text-align: center;
        opacity: 1;
        border: 1px solid rgb(170, 112, 5);
        transform: scale(1,1.2);
        transition: .6s;
    }

    .button button a:hover{
        background-color: thistle;
        color:rgb(170, 112, 5);
        border-radius: 30px;
    }

    /*FOOTER*/
    footer{
        opacity: .7;
        padding: 15px;
        width: 90%;
        color: #f3e691;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 20px;
    }

    
    .footer__didiseñadoPor{
        display: flex;
        position: relative;
        left: 15px;
        top: 10px;
    }

    .footer__redes{
        color: #f3e691;
        width: 30px;
        display: flex;
    }

    .footer__redes img{
        display: flex;
        position: relative;
        margin: 10px;
        border-radius: 25px;
        bottom: 10px;
        right: 15px;
        width: 35px;
        opacity: .7;
    }

    .footer__redes img:hover{
        transform: scale( 2, 2);
        transition: 1s;
        padding: 5px;
        opacity: 1;
        border-radius: 25px;
    }

@media only screen and (min-width:768px){
    
    body{
        background-color: #ffffff;
        background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
        padding: auto;
        margin: 10px;
        }
        
    
    h1{
        color: #751919;
        font-family: 'Grechen Fuemen', cursive;
        font-size: 60px;
        text-align: center;
        padding: 10px;
    }
    
    h2{
        color: #751919;
        text-align: center;
        text-decoration: underline;
        margin: 15px;
    }
    
    /* HEADER */
    
    header{
        display: grid;
        flex-direction: column;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "nav nav nav" ". logo ."" . titulo .";
    }
    
    header img{
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        grid-area: logo;
        border-radius: 10px;
        width: 550px;
    }

    .contenedor img{
        width: 600px;
        margin: auto;
        display: flex;
        position: relative;
        top: 20px;
        left: 5px;
        flex-direction: column;
        grid-area: logo;
        border-radius: 10px;
    }
    
        .aparecer{ 
        width: 400px;
        justify-content: center;
        position: relative;
        top: 25px;
        left: 90px;
        margin-bottom: 50px;
        font-size: 45px;
        animation-duration: 2s;
        animation-name: aparecer;
        animation-iteration-count: infinite;
        text-shadow: 0 0 60px rgb(58, 2, 2);
        grid-area: titulo;
    }
    
    @keyframes aparecer {
        0% {opacity: 0;}
        25% {opacity: 0.25;}
        50% {opacity: 0.5;}
        75% {opacity: 0.75;}
        100% {opacity: 1;}
    }
    /*MENU*/
    
    nav {
        position: fixed;
        z-index: 10;
        left: 0;
        right: 0;
        top: 0;
        font-family: 'Montserrat', sans-serif;
        padding: 0 5%;
        height: 100px;
        background-color: #d7e1ec;
        grid-area: nav;
        border: 3px double rgb(139, 52, 52);
        }
    
        nav .logo {
        position: relative;
        text-align: center;
        font-size: 22px;
        font-weight: bolder;
        color: rgba(139, 52, 52, 0.651);
        text-decoration: underline;
        }

        nav .links {
        float: right;
        padding: 0;
        margin: 0;
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        }
    
        nav .links li {
        list-style: none;
        }
    
        nav .links a {
        display: block;
        padding: 10px;
        position: relative;
        bottom: 20px;
        right: 180px;
        text-align: center; 
        font-size: 15px;
        font-weight: bold;
        color:  rgb(139, 52, 52)  ;
        text-decoration: underline;
        width: auto;
        height: 100%;
        align-items: center;
        }
    
        #nav-toggle {
        position: absolute;
        top: -100px;
        }
    
        nav .icon-burger {
        display: none;
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
        }
    
        nav .icon-burger .line {
        width: 30px;
        height: 5px;
        background-color: #fff;
        margin: 5px;
        border-radius: 3px;
        transition: all .3s ease-in-out;
        }
    
        .imagenHeader {
        height: 50px;
        width: 50px;
        padding: 5px;
        }

        /*SECCIONES*/
    /*SECCION NUESTROS DISFRACES*/
    .nuestrosDisfraces{
        background-color: #ffffff;
            background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
        padding: auto;
        margin: 20px;
    }

    .headerNuestros{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    .info__imagenes{
        display: flex;
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        width: 90%;
        height: auto;
        border: 4px double rgb(139, 52, 52);
        border-radius: 10px;
        padding: 50px;
    }

    .info__imagenes img{
        border: 2px double rgb(139, 52, 52);
        border-radius: 10px;
        opacity: .8;
        padding: 20px;
        margin: 20px;
        width: 200px;
        height: 200px;
    }

    .info__imagenes img:hover{
        border: 2px solid rgb(139, 52, 52);
        opacity: 1;
    }

    .zoom:hover {
        transform: scale(1.2); 
    }
    .zoom {
        transition: transform .6s; 
    }

    /*SECCION NOSOTROS*/
    .nosotros{
        background-color: #ffffff;
        background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
        padding: auto;
        margin: 20px;
    }

    .headerNosotros{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .headerNosotros h1{
        color: rgb(139, 52, 52);
        font-weight: bolder;
    }

    .row .col-12 p{
        color: rgb(139, 52, 52);
    }

    .carousel{
        display: flex;
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        width: 350px;
        height: auto;
        border: 4px double rgb(139, 52, 52);
        border-radius: 10px;
        padding: 20px;
    }

    .carousel img{
        border: 2px double rgb(139, 52, 52);
        border-radius: 10px;
        opacity: .8;
    }

        /*SECCION CLIENTES*/
    .clientes{
        background-color: #ffffff;
        background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
        padding: auto;
        margin: 20px;
    }

    .headerClientes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*SECCION PREGUNTAS FRECUENTES*/
    .preguntas{
        background-color: #ffffff;
        background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
        padding: auto;
        margin: 20px;
    }

    .headerPreguntas{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .h2Preguntas{
        color: rgb(100, 28, 28);
        font-weight: normal;
        font-size: 40px;
    }

    .h3Preguntas{
        color: rgb(173, 11, 11);
        text-align: center;
        margin: 30px;
    }

    .main{
        margin: 10px;
        border: 4px double rgb(139, 52, 52);
        border-radius: 10px;
    }

    .main__info{
        position: relative;
        top: 10px;
        text-align: center;
        color: rgb(119, 77, 0);
        font-size: 25px;
        padding: auto;
        margin: 20px;    
    }

    
    /*SECCION CONTACTANOS*/
    .contactanos{
        background-color: #ffffff;
        background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
        color: rgb(139, 52, 52);
        text-align: center;
        width: 95%;
        font-size: 35px;
        padding: auto;
        margin: 20px;
    }

    .headerContactanos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footerCont{
        margin: 45px;
        width: 90%;
        height: 350px;
        gap: 15px;
        position: relative;
        left: 10px;
        border: 1px solid rgb(139, 52, 52);
        border-radius: 5px;
        display: grid;
        grid-template-columns: repeat(1fr 1fr);
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "texto texto"
        "mapa datos";
    }

    .footerCont__texto{
        grid-area: texto;
        padding: 10px;
        margin: 5px;
        position: relative;
        bottom: 10px;
    }

    .footerCont__mapa{
        grid-area: mapa;
        display: flex;
        position: relative;
        bottom: 50px;
    }

    .footerCont__datos{
        grid-area: datos;
        display: flex;
        position: relative;
        font-size: 25px;
        color: rgb(100, 28, 28);
    }

    .formulario{
        margin: 30px;
        padding: 10px;
        position: relative;
        top: 10px;
        color: rgb(139, 52, 52);
    }

    legend{
        color:  rgb(139, 52, 52);
        font-size: 35px;
    }

    .fieldset{
        padding: 15px;
        border: 4px double rgb(139, 52, 52);
        border-radius: 10px;
    }

    .flex{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            width: 90%;
            margin: 20px;
    }

    .imagenes__flex img{
        width: 200px;
        height: 200px;
        margin: 15px;
        border: 5px double rgb(139, 52, 52);
        border-radius: 10px;
    }

    .info{
        position: relative;
        top: 10px;
        text-align: center;
        color: rgb(139, 52, 52);
        font-size: 20px;
        padding: auto;
        margin: 20px;    
    }

        /*LISTAS*/
    .nosDestacamos{
        color:#751919;
        text-decoration: underline;
        font-size: 35px;
        font-style: italic;
        display: flex;
        justify-content: start;
        padding: 10px;
        
    }

    .requisitosNecesarios {
        color: #751919;
        text-decoration: underline;
        font-size: 35px;
        font-style: italic;
        display: flex;
        justify-content: start;
        padding: 10px;
    }

    span{
        color:#751919 ;
        font-size: 25px;
        font-weight: bolder;
        text-decoration: underline;
    }

    .olLista{
        color: rgb(228, 97, 97);
        list-style-type: square;
        position: relative;
        left: 30px;
        font-size: 25px;
        padding: 20px;
    }
    
    .teEstamosEsperando{
        color:#751919;
        text-align: center; 
        font-size: 35px;
        font-family: 'EB Garamond', serif;
        margin: 20px;
    }

        /*IMAGENES*/
    .imagenes{
        display: flex;
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        width: 90%;
        height: auto;
        border: 4px double #751919;
        border-radius: 10px;
        padding: 50px;
    }

    .imagenes img{
        border: 2px double #751919;
        border-radius: 10px;
        opacity: .8;
        padding: 20px;
        margin: 20px;
        width: 200px;
        height: 200px;
    }

    .imagenes img:hover{
        border: 2px solid #751919;
        opacity: 1;
    }

    .zoom:hover {
        transform: scale(1.3); 
    }
    .zoom {
        transition: transform .6s; 
    }

    /*BOTON*/
    .button{
        display: flex;
        justify-content: center;
        padding: 5px;
    }

    .button button{
        text-align: center;
        background-color: lightgray;
        color:#751919;
        display: flex;
        opacity: .5;
        border-radius: 30px;
        padding: 5px;
        font-size: 10px;
    }

    .button button:hover{
        color:rgb(170, 112, 5);
        background-color: rgb(250, 250, 250);
        text-align: center;
        opacity: 1;
        border: 1px solid rgb(170, 112, 5);
        transform: scale(1,1.2);
        transition: .6s;
    }

    .button button a:hover{
        background-color: rgb(255, 255, 255);
        color:#751919;
        border-radius: 30px;
    }

    /*FOOTER*/
    footer{
        opacity: .7;
        padding: 15px;
        width: 90%;
        color: rgb(139, 52, 52);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        font-size: 25px;
        font-weight: bolder;
    }
    
    .footer__didiseñadoPor{
        display: flex;
        position: relative;
        left: 15px;
        top: 10px;
    }

    .footer__redes{
        width: 60px;
        display: flex;
    }

    .footer__redes img{
        display: flex;
        position: relative;
        margin: 10px;
        border-radius: 25px;
        bottom: 10px;
        right: 25px;
        width: 50px;
        opacity: .7;
    }

    .footer__redes img:hover{
        transform: scale( 2, 2);
        transition: 1s;
        padding: 5px;
        opacity: 1;
        border-radius: 25px;
    }
}
    
@media only screen and (min-width:1024px){

    body{
        background-color: #000000;
        background-image: linear-gradient(315deg,  #b82e1f 14%, #000000 60%);
        padding: auto;
        margin: 20px
    }

    h1{
        color: #f3e691;
        font-family: 'Grechen Fuemen', cursive;
        font-size: 60px;
        text-align: center;
        color:  #f3e691;
    }
    
    h2{
        color: #f3e691da;
        text-align: center;
        text-decoration: underline;
        margin: 15px;
    }
    
    /* HEADER */
    
    header{
        display: grid;
        flex-direction: column;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "nav nav nav" ". logo ."" . titulo .";
    }
    
    header img{
        width: 800px;
        margin: auto;
        grid-area: logo;
        border-radius: 10px;
    }

    .contenedor img{
        width: 900px;
        margin: auto;
        display: flex;
        position: relative;
        bottom: 50px;
        grid-area: logo;
        border-radius: 10px;
    }

    .aparecer{ 
        width: 500px;
        font-size: 65px;
        display: flex;
        position: relative;
        left: 250px;
        animation-duration: 2s;
        animation-name: aparecer;
        animation-iteration-count: infinite;
        text-shadow: 0 0 60px #f3e691;
        grid-area: titulo;
    }

    @keyframes aparecer {
        0% {opacity: 0;}
        25% {opacity: 0.25;}
        50% {opacity: 0.5;}
        75% {opacity: 0.75;}
        100% {opacity: 1;}
    }
    /*MENU*/
    
    nav {
        position: fixed;
        z-index: 10;
        left: 0;
        right: 0;
        top: 0;
        font-family: 'Montserrat', sans-serif;
        padding: 0 5%;
        height: 100px;
        background-color: black;
        border: 2px double #f3e691;
        grid-area: nav;
    }

        nav .logo {
        float: left;
        width: 40%;
        height: 100%;
        display: flex;
        position: relative;
        right: 50px;
        align-items: center;
        font-size: 18px;
        color:  #f3e69175;
        text-decoration: underline;
        }

        nav .links {
        float: right;
        padding: 0;
        margin: 0;
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-decoration: underline;
        }
        nav .links li {
        list-style: none;
        }
        nav .links a {
        display: block;
        position: relative;
        top: 5px;
        padding: 1em;
        font-size: 14px;
        font-weight: bold;
        color: #f3e691;
        text-decoration: none;
        }

        #nav-toggle {
        position: absolute;
        top: -100px;
        }
        nav .icon-burger {
        display: none;
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
        }
        nav .icon-burger .line {
        width: 30px;
        height: 5px;
        background-color: #fff;
        margin: 5px;
        border-radius: 3px;
        transition: all .3s ease-in-out;
        }

        /*SECCIONES*/
    /*SECCION NUESTROS DISFRACES*/
    .nuestrosDisfraces{
        background-color: #e0455f;
        background-image: linear-gradient(147deg, #e0455f 0%, #44000b 74%);
        padding: auto;
        margin: 20px;
    }

    .headerNuestros{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    .info__imagenes{
        display: flex;
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        width: 90%;
        height: auto;
        border: 4px double #f3e691;
        border-radius: 10px;
        padding: 50px;
    }

    .info__imagenes img{
        border: 2px double #f3e691;
        border-radius: 10px;
        opacity: .8;
        padding: 20px;
        margin: 20px;
        width: 320px;
        height: 320px;
    }

    .info__imagenes img:hover{
        border: 2px solid #f3e691;
        opacity: 1;
    }

    .zoom:hover {
        transform: scale(1.2); 
    }
    .zoom {
        transition: transform .6s; 
    }

    /*SECCION NOSOTROS*/
    .nosotros{
        background-color: #e0455f;
        background-image: linear-gradient(147deg, #e0455f 0%, #44000b 74%);
        padding: auto;
        margin: 20px;
    }

    .headerNosotros{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .headerNosotros h1{
        color: #f3e691;
        font-family: 'Grechen Fuemen', cursive;
        font-size: 50px;
        text-align: center;
        font-weight: bolder;
        }

        .row .col-12 p{
        color: #ffffff;
        font-size: 25px;
        }

    .carousel{
        display: flex;
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        border: 4px double #f3e691;
        border-radius: 10px;
        width: 450px;
        height: auto;
        padding: 20px;
    }

    .carousel img{
        border: 2px double #f3e691;
        border-radius: 10px;
        opacity: .8;
    }

    /*SECCION CLIENTES*/
    .clientes{
        background-color: #e0455f;
        background-image: linear-gradient(147deg, #e0455f 0%, #44000b 74%);
        padding: auto;
        margin: 20px;
    }

    .headerClientes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .flex .imagenes img{
        width: 320px;
        height: 320px;
    }

    /*SECCION PREGUNTAS FRECUENTES*/
    .preguntas{
        background-color: #e0455f;
        background-image: linear-gradient(147deg, #e0455f 0%, #44000b 74%);
        padding: auto;
        margin: 20px;
    }

    .headerPreguntas{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .h2Preguntas{
        color: #ddc39d;
        font-size: 45px;
        font-weight: normal;
    }

    .h3Preguntas{
        color: #f3e691da;
        text-align: center;
        margin: 30px;
        font-size: 30px;
    }

    .main{
        margin: 10px;
        border: 4px double #f3e691;
        border-radius: 10px;
    }

    .main__info{
        position: relative;
        top: 10px;
        text-align: center;
        color: rgb(236, 157, 157);
        font-size: 20px;
        padding: auto;
        margin: 20px;    
    }

    /*SECCION CONTACTANOS*/
    .contactanos{
        background-color: #e0455f;
        background-image: linear-gradient(147deg, #e0455f 0%, #44000b 74%);
        width: 95%;
        font-size: 25px;
        padding: auto;
        margin: 20px;
    }

    .formulario{
        margin: 30px;
        padding: 10px;
        position: relative;
        top: 10px;
        color: #f3e691;
    }

    .fieldset{
        padding: 15px;
        border: 4px double #f3e691;
        border-radius: 10px;
    }

    legend{
        color:  #f3e691da;
        font-size: 30px;
    }

    .footerCont{
        margin: 45px;
        width: 95%;
        height: 350px;
        text-align: center;
        gap: 15px;
        border: 1px solid lightgray;
        border-radius: 5px;
        display: grid;
        grid-template-columns: repeat(1fr 1fr);
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "texto texto"
        "mapa datos";
    }

    .footerCont__texto{
        grid-area: texto;
        padding: 10px;
        margin: 5px;
    }

    .footerCont__mapa{
        grid-area: mapa;
        display: flex;
        position: relative;
        left: 120px;
        right: 0px;
        padding: 10px;
        margin: 5px;
    }

    .footerCont__datos{
        grid-area: datos;
        display: flex;
        position: relative;
        left: 0px;
        right: 50px;
        padding: 10px;
        margin: 5px;
        color: #f3e691;
    }

    .flex{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            width: 90%;
            margin: 20px;
    }

    .imagenes__flex img{
        width: 320px;
        height: 320px;
        margin: 15px;
        border: 5px double #f3e691da;
        border-radius: 10px;
    }

    .info{
        position: relative;
        top: 10px;
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 25px;
        padding: auto;
        margin: 20px;    
    }

        /*LISTAS*/
    .nosDestacamos{
        color: rgb(139, 52, 52);
        text-decoration: underline;
        font-size: 30px;
        font-style: italic;
        display: flex;
        justify-content: start;
        padding: 10px;
        
    }

    .requisitosNecesarios {
        color: rgb(139, 52, 52);
        text-decoration: underline;
        font-size: 30px;
        font-style: italic;
        display: flex;
        justify-content: start;
        padding: 10px;
    }

    span{
        color: rgb(139, 52, 52);
        text-decoration: underline;
        font-weight: bolder;
    }

    .olLista{
        color: #f3e691;
        list-style-type: square;
        position: relative;
        left: 25px;
        font-size: 20px;
        padding: 20px;
    }
    
    .teEstamosEsperando{
        color:#f3e691;
        text-align: center; 
        font-size: 30px;
        font-family: 'EB Garamond', serif;
        margin: 20px;
    }

        /*IMAGENES*/

    .imagenes{
        display: flex;
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        width: 90%;
        height: auto;
        border: 4px double #f3e691;
        border-radius: 10px;
        padding: 50px;
    }

    .imagenes img{
        border: 2px double #f3e691;
        border-radius: 10px;
        opacity: .8;
        padding: 20px;
        margin: 20px;
        width: 300px;
        height: 300px;
    }

    .imagenes img:hover{
        border: 2px solid #f3e691;
        opacity: 1;
    }

    .imagenes__zoom:hover {
        transform: scale(1.2); 
    }
    .imagenes__zoom {
        transition: transform .6s; 
    }

    /*BOTON*/
    .button{
        display: flex;
        justify-content: center;
        padding: 5px;
    }

    .button button{
        text-align: center;
        background-color: lightgray;
        color: #f3e691;
        display: flex;
        opacity: .5;
        border-radius: 30px;
        padding: 5px;
        font-size: 10px;
    }

    .button button:hover{
        color:rgb(170, 112, 5);
        background-color: thistle;
        text-align: center;
        opacity: 1;
        border: 1px solid rgb(170, 112, 5);
        transform: scale(1,1.2);
        transition: .6s;
    }

    .button button a:hover{
        background-color: thistle;
        color:rgb(170, 112, 5);
        border-radius: 30px;
    }

    /*FOOTER*/
    footer{
        opacity: .7;
        padding: 15px;
        width: 90%;
        color: #8d8c86;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        font-size: 20px;
    }

    
    .footer__didiseñadoPor{
        display: flex;
        position: relative;
        left: 15px;
        top: 10px;
    }

    .footer__redes{
        color: #f3e691;
        width: 30px;
        display: flex;
    }

    .footer__redes img{
        display: flex;
        position: relative;
        margin: 10px;
        border-radius: 25px;
        bottom: 10px;
        right: 15px;
        width: 40px;
        opacity: .7;
    }

    .footer__redes img:hover{
        transform: scale( 2, 2);
        transition: 1s;
        padding: 5px;
        opacity: 1;
        border-radius: 25px;
    }
}
